*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
}

.banner{
    width: 100%;
}

.hello{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13%;
}

.content{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.nav{
    display: flex;
    align-items: center;
}

.logo{
    width: 15%;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: larger;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    position: relative;
}
  
.navbar ul li a::before{
    content: "";
    position: absolute;
    bottom: -2;
    left: 0;
    right: 0;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s;
  }
  
.navbar ul li a:hover::before{
    border-bottom: 3px solid white;
}

.hi{
    position: absolute;
    top: 20%;
    left: 0;
    width: 15%;
    cursor: pointer;
}

.AboutMe{
    width: 100%;
}

.heading{
    text-align: center;
    padding-top: 1.75%;
}

.everything{
    text-align: center;
    margin-top: 2%;
    font-size: 115%;
}

.work{
    text-align: center;
    margin-top: 2.7%;
    font-size: 125%;
}

.head{
    text-align: left;
    margin-left: 5%;
}

.skedu{
    display: flex;
}

.head, .skills, .onlinecert{
    margin-top: 3%;
}

.info{
    white-space: nowrap;
}

.skills{
    margin-left: 14%;
}

.btech, .twelve, .ten{
    margin-top: 3%;
}

.py,.cl{
    margin-top: 3%;
    white-space: nowrap ;
}

.cl{
    margin-top: 10%;
}

.onlinecert{
    margin-left: 14%;
}

.course{
    margin-top: 3%;
    white-space: nowrap;
}
.contact{
    width: 100%;
    height: 90vh;
}

.flex{
    display: flex;
}

.conthead{
    text-align: center;
    padding-top: 14%;
}

.continfo{
    text-align: center;
    padding-top: 2%;
}

form{
    width: 125%;
    max-width: 175%;
    margin-top: 15%;
    margin-left: 45%;
}

.inputgroup{
    margin-bottom: 4%;
    position: relative;
}

textarea, input{
    width: 100%;
    padding: 15px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
    outline: 0;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2%;
    color: #fff;
    cursor: text;
    transition: 0.2s;
    background: transparent;
}
button{
    padding: 2%;
    color: #fff;
    outline: none;
    background: none;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}
input:focus~label,input:valid~label,
textarea:focus~label,textarea:valid~label{
    top: -25px;
    font-size: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .inputgroup{
    flex-basis: 48%;
}
.inputgroup .phonenum{
    margin-left: 2%;
}

.links{
    margin-top: 3%;
    margin-left: 30%;
}

.copyright{
    text-align: right;
    margin-top: -1%;
    margin-right: 5%;
    padding-bottom: 2%;
}

.socia{
    text-align: left;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 130%;
}

@media (max-width: 1020px) and (min-width: 748px){

    .logo{
        width: 23%;
    }
    .hello{
        width: 20%;
    }

    .hi{
        width: 18%;
    }
    .skedu{
        display: block;
    }

    .info, .infot, .course{
        margin-left: 0px;
    }

    .skills, .onlinecert,.head{
        margin-left: 8%;
        margin-top: 6%;
    }

    .py, .cl{
        margin-left: 0px;
        margin-top: 1.5%;
    }

    .flex{
        display: block;
    }
    
    .everything{
        margin-top: 6%;
    }

    .work{
        margin-top: 6%;
    }

    .onlinecert{
        margin-bottom: 5%;
    }

    .everything p {
        white-space: normal; 
    }

    .conthead{
        margin-top: 20%;
    }

    .continfo{
        margin-top: 3%;
    }

    form {
        width: 70%;
        margin-top: 4%; 
        margin-left: 15%;
    }
    
    .inputgroup {
        margin-bottom: 6.8%; 
    }
    
      textarea, input {
        font-size: 12px; 
      }
    
      input:focus~label,
      input:valid~label,
      textarea:focus~label,
      textarea:valid~label {
        font-size: 8px;
      }
    
      .row {
        display: block;
    }
    
      .row .inputgroup {
        flex-basis: 100%;
        margin-bottom: 6.8%;
      }
    
      .inputgroup .phonenum {
        margin-left: 0; 
      }

      .links{
        margin-left: 15%;
      }
    
    .end{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright{
        transform: translateY(56%);
    }
}

@media (max-width: 748px){

    .navbar{
        display: none;
    }

    .links{
        margin-top: 6%;
    }

    .logo{
        width: 50%;
        top: 0;
        left: 50%;
        transform: translateX(50%);
        padding: 0;
    }
    .hello{
        margin-top: -6%;
        width: 50%;
    }

    .hi{
        width: 25%;
        margin-top: -10%;
    }

    .skedu{
        display: block;
    }

    .info, .infot, .course{
        margin-left: 0px;
    }

    .skills, .onlinecert,.head{
        margin-left: 8%;
        margin-top: 6%;
    }

    .py, .cl{
        margin-left: 0px;
        margin-top: 1.5%;
    }

    .flex{
        display: block;
    }
    
    .everything{
        margin-top: 6%;
    }

    .work{
        margin-top: 6%;
    }

    .onlinecert{
        margin-bottom: 5%;
    }

    .everything p {
        white-space: normal; 
    }

    .conthead{
        margin-top: 20%;
    }

    .continfo{
        margin-top: 3%;
    }

    form {
        width: 75%;
        margin-top: 4%; 
        margin-left: 15%;
    }
    
    .inputgroup {
        margin-bottom: 6.8%; 
    }
    
      textarea, input {
        font-size: 12px; 
      }
    
      input:focus~label,
      input:valid~label,
      textarea:focus~label,
      textarea:valid~label {
        font-size: 8px;
      }
    
      .row {
        display: block;
    }
    
      .row .inputgroup {
        flex-basis: 100%;
        margin-bottom: 6.8%;
      }
    
      .inputgroup .phonenum {
        margin-left: 0; 
      }

      .links{
        margin-left: 15%;
      }

    .copyright{
        text-align: center;
        padding-bottom: 4%;
        margin-left: 9%;
    }

    .socia{
        margin-top: 5%;
        margin-bottom: 3%;
    }
}
