*{
    margin:0;
    padding: 0;
    color: white;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
  }
.logo{
    margin: -8%;
    width: 20%;
    cursor: pointer;
}
.hello{
    width: 10%;
}
.hi{
    width: 15%;
    transform: translateX(20%);
    transform: translateY(10%);
    size: 5px;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: larger;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    position: relative;
}
  
.navbar ul li a::before{
    content: "";
    position: absolute;
    bottom: -2;
    left: 0;
    right: 0;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s;
  }
  
.navbar ul li a:hover::before{
    border-bottom: 3px solid white;
  }

.content{
    color: white;
    width: 100%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    font-size: larger;
}

.AboutMe{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
  }
.heading{
    text-align: center;
    transform: translateY(50px);
}
.everything{
    margin-top: 100px;
    width: 100%;
    font-size: larger;
    text-align: center;
}
.study{
    width: 15%;
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 15px;
}
.work{
    width: 16%;
    margin-top: 60px;
    color: white;
    text-decoration: none;
    position: relative;
    text-align: center;
    font-size: large;
    transform: translateX(625px);
}
.work::before{
    content: "";
    position: absolute;
    bottom: -2;
    left: 0;
    right: 0;
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.5s;
}
.work:hover::before{
    border-bottom: 3px solid white;
}
.head{
    margin-top: 50px;
    margin-left: 50px;
}
.info{
    margin-top: 20px;
    margin-left: 55px;
    font-size: large;
}
.twelve{
    margin-top: 15px;
}
.btech{
    margin-top: 15px;
}
.skills{
    margin-left: 550px;
    transform: translateY(-290px);
}
.infot{
    margin-left: 550px;
    transform: translateY(-277px);
}
.cl{
    transform: translateY(20px);
}
.onlinecert{
    margin-left: 845px;
    transform: translateY(-425px);
}
.course{
    margin-left: 845px;
    transform: translateY(-412px);
}
.co{
    transform: translateY(8px);
    text-decoration: none;
}
.arrow{
    text-decoration: none;
}
.p-1{
    transform: translateY(5px);
    margin-left: -3px;
}
.contact{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conthead{
    text-align: center;
    position: absolute;
    transform: translateY(-275px);
}
.continfo{
    position: absolute;
    transform: translateX(25px);
    transform: translateY(-200px);
}
.contactpic{
    transform: translateY(20px);
    margin-left: 15px;
    width: 40px;
}
form{
    width: 600px;
    max-width: 800px;
    transform: translateX(-50px);
    transform: translateY(80px);
}
.form{
    position: absolute;
    transform: translateX(-275px);
}
.inputgroup{
    margin-bottom: 25px;
    position: relative;
}
textarea, input{
    width: 100%;
    padding: 15px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}
button{
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: none;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}
input:focus~label,input:valid~label,
textarea:focus~label,textarea:valid~label{
    top: -25px;
    font-size: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .inputgroup{
    flex-basis: 48%;
}
.inputgroup .phonenum{
    margin-left: 10px;
}
.insta{
    position: absolute;
    transform: translateY(-10px);
    margin-left: 450px;
}
.copyright{
    position: absolute;
    transform: translateY(305px);
    margin-left: 510px;
}
.contact::after{
    content: "";
    display: block;
    border-top: 1px solid #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}